networks:
  base:
    driver: bridge
services:
  dickobrazz-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dickobrazz-server
    cpus: '0.25'
    depends_on: [ dickobrazz-redis, dickobrazz-mongo ]
    env_file: [ .env ]
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 40s
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3030/health"]
      timeout: 10s
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 256m
    mem_reservation: 64m
    networks: [ base ]
    ports: [ "3030:3030" ]
    restart: unless-stopped
    volumes:
      - ./config.yaml:/usr/src/app/config.yaml:ro
      - ./.version:/usr/src/app/.version:ro
  dickobrazz-mongo:
    command: ["--wiredTigerCacheSizeGB", "0.25"]
    container_name: dickobrazz-mongo
    cpus: '0.5'
    env_file: [ .env ]
    healthcheck:
      interval: 15s
      retries: 12
      start_period: 60s
      test: ["CMD-SHELL", "mongosh --eval 'db.runCommand(\"ping\")' --quiet | grep -q 1"]
      timeout: 5s
    image: mongo:8.2.5
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 512m
    mem_reservation: 256m
    networks: [ base ]
    ports: [ "27017:27017" ]
    restart: unless-stopped
    volumes:
      - dickobrazz-mongo-data:/data/db
  dickobrazz-redis:
    command: >
      redis-server --port 6379
      --loglevel warning
      --save 20 1
      --requirepass ${REDIS_PASSWORD}
    container_name: dickobrazz-redis
    cpus: '0.5'
    env_file: [ .env ]
    healthcheck:
      interval: 10s
      retries: 3
      start_period: 10s
      test: ["CMD", "sh", "-c", "redis-cli -a ${REDIS_PASSWORD} --no-auth-warning ping"]
      timeout: 5s
    image: redis:8.4-alpine
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 256m
    mem_reservation: 128m
    networks: [ base ]
    ports: [ "6379:6379" ]
    restart: unless-stopped
    volumes:
      - dickobrazz-redis-data:/data
volumes:
  dickobrazz-mongo-data:
    driver: local
  dickobrazz-redis-data:
    driver: local
